<div class="team-details-container">
    <div class="team-card">
      <img [src]=" team?.logo" alt="{{ team?.name }} Logo" class="team-logo" />
      <div class="team-info">
        <h2>{{ team?.name }}</h2>
        <p>🏆 <strong>Trophies:</strong> {{ team?.trophies }}</p>
        <p>👤 <strong>Captain:</strong> {{ team?.captain }}</p>
        <p>👑 <strong>Owner:</strong> {{ team?.owner }}</p>
        <p>🏟️ <strong>Home Ground:</strong> {{ team?.homeGround }}</p>
      </div>
    </div>
  </div>
  