<h2 class="title">🏏 IPL Teams</h2>


<div class="filter-container">
  <div class="filter-group">
    <label for="trophies">🏆 Minimum Trophies:</label>
    <select [(ngModel)]="minTrophies" class="custom-dropdown">
      <option [value]="0">All</option>
      <option [value]="1">1+</option>
      <option [value]="2">2+</option>
      <option [value]="3">3+</option>
      <option [value]="4">4+</option>
      <option [value]="5">5+</option>
    </select>
  </div>


  <button class="toggle-button" (click)="toggleNeverWinTeams()">
    {{ showNeverWinTeams ? "Show All Teams" : "Show Teams That Never Won IPL" }}
  </button>
</div>


<div class="team-list">
  <div
    *ngFor="
      let team of showNeverWinTeams
        ? (teams | neverWinIpl)
        : (teams | filter : minTrophies)
    "
    class="team-card"
  >

    <img
      [src]="team.logo"
      class="team-logo"
      alt="{{ team.name }} Logo"
    />

    <div class="team-info">
      <h3>{{ team.name }}</h3>
      <p>🏆 Trophies: {{ team.trophies }}</p>
      <a [routerLink]="['/team', team.id]" class="view-details"
        >View Details →</a
      >
    </div>
  </div>
</div>
